body, html {
  font-family: Arial,sans-serif;
  font-size:small;
  color: #222;
}
 li{
  display: inline;
}
input[type="submit"]:focus {
  border: 1px solid #4d90fe;
  outline: medium none;
}
input[type="submit"] {
  height: 29px;
  line-height: 27px;
  background-image: -moz-linear-gradient(center top, #f5f5f5, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: #444;
  font-family:arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin: 11px 8px;
  min-width: 54px;
  padding 0px 8px;
  text-align: center;
}
#logo {
  padding-top:7px;
  border:0;
  width:500px;
  height:200px;
}
#hplogo {
  display:inline-block;
  position:relative;
  height:200px;
  width:500px;
}
#lga {
  height:231px;
  margin-top:80px;
}
#search {
  height:102px;
}
#searchdiv {
  padding-bottom: 2px;
  padding-top: 3px;
  position: relative;
  line-height: 0;
  max-width: 650px;
  overflow: visible;
  white-space: nowrap; 
  max-width: 568px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #c0c0c0;
/*  border-color: red, #d9d9d9;*/
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  height: 28px;
  vertical-align: top;
  background: #fff none repeat scroll 0% 0%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px, 9px; 0px;
}
#searchbar {
  border: medium none;
  padding:0;
  margin:0;
  height:auto;
  max-width:568px;
  width:100%;
  position: absolute;
  left: 5px;
  z-index: 6;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 1.2em !important;
  height: 1.2em !important;
  text-align: left;
/*  background: transparent url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D) repeat scroll 0% 0%; 
  position: absolute;
  z-index:6;
  left:0;
  outline:medium none;*/
}
#topnav {
 /* float:right;
/*  order: 1;*/
}
.nav {
/*  min-width: 302px; 
/*  z-index: 987;*/
  /*display: flex;*/
  /*flex: 1 1 auto;*/
  position relative;
  top: 500px;
  right: 500px;
  bottom: 500px;
  left: 500px;
  width: 100%;
/*  float:right;
 /* padding-left:30px;
/*  padding-right:30px;
/*  position-relative;*/
 /* text-align: right;
/*  align-items: center;*/
/*  justify-content: flex-end;*/
/*  margin-left: 0px !important;
  margin-right: 0px !important;
/*  white-space: nowrap;*/
  font-size:13px;
}
#footer {
  display: block;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 10pt;
  height: 35px;
  position: absolute;
  width: 100%;
  margin 0px auto;
  min-width: 980px;
  background: #f2f2f2 none repeat scroll 0% 0%;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  min-width: 980px;
/*  margin-left: -27px; */
}
#fsl {
  margin-left: 30px;
  white-space: nowrap;
  font-size: small;
  line-height: 40px;
}
#fsr {
  margin-right: 30px;
  float: right;
  white-space: nowrap;
}
#footer a {
  display: inline-block;
  color: #666;
  text-decoration: none;
  white-space:nowrap;
  padding-left: 27px;
  margin: 0px !important;
}
.navlnk:focus {
  opacity: 0.85;
  text-decoration: underline;
}

.navlnk {
  text-decoration:none;
  color: #000;
  display:inline-block;
  line-height:24px;
  outline:medium none;
  vertical-align: middle;
}
.navdiv {
  display: inline-block;
  padding-left:15px;
  vertical-align:middle;
  margin-left: 0px !important;
  margin-right: 0px !important;
  flex: 0 0 auto;
  white-space:nowrap;
  text-align:right;
}
#top {
  min-width: 302px;
  z-index: 987;
  position: relative;
  top: 20px;
  flex: 1 1 auto;
  display: flex;
/*  float: right;*/
  order: 1;
  padding-left:30px;
  padding-right:30px;
  position:relative;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
  color: #c0c0c0;
}
#apps {
  background-image: url("//ssl.gstatic.com/gb/images/il_0430b5a.png");
  background-size: 528px 68px;
}
